body {
    font-family: sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
